@import url('https://fonts.googleapis.com/css?family=Prata|Rubik&amp;display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', sans-serif;
}

a {
    color: #f7bc58 !important;
}

.btn-Bhartiya {
    background-color: #ae8235;
    border: 0;
    width: 100px;
    border-radius: 0;
    color: #ffffff;
}

.btn-Bhartiya:hover {
    background-color: #c4aa65;
    color: #ffffff;
}

.seperator {
    background-image: url(../assets/Seperator.png);
    background-repeat: no-repeat;
    height: 30px;
    background-position: center;
    margin: 40px
}

.seperator2 {
    background-image: url(../assets/Seperator2.png);
    background-repeat: no-repeat;
    height: 30px;
    background-position: center;
    margin: 40px
}

.logo-header {
    border-top: 4px solid #ae8235;
    background-color: #000000;
    text-align: center;
    background-image: url(../assets/background-ptrns/asfalt_%402X.png);
}

.logo-header img {
    width: 175px;
    padding: 20px;
}

.navigation {
    text-align: center;
    background-color: #131211;
    height: 40px;
    display: flex;
    justify-content: center;
    background-image: url(../assets/background-ptrns/asfalt_%402X.png);
}

.navigation a {
    color: #dac78f !important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 10px 40px; /* top-bottom right-left */
    transition: all 0.2s ease-in;
    font-family: 'Rubik', sans-serif;
    opacity: 0.7;
}

.navigation a:nth-child(n+2) {
    background-image: url(../assets/nav-separator-right.png);
    background-repeat: no-repeat;
}

.navigation a:hover {
    color: #ffffff;
    background: #000000;
    opacity: 1;
}

.navigation a.active {
    color: #ffffff;
}

.container-fluid {
    padding: 0;
}

.featured {
    width: 100%;
    height: calc(100vh - 165px);
    background-image: url('../assets/maavaishnojewellers.jpg');
    background-size: cover;
    background-position: 0 -280px;
    background-repeat: no-repeat;
}

.novelties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 70px;
}

.novelties h4 {
    margin-bottom: 1em;
}

.novelties-image {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.home-content {
    background-image: url('../assets/bhartiya1.png');
    height: 400px;
    background-size: cover;
    background-position: 0 -380px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.content-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-data h4 {
    margin-bottom: 1em;
    color: #ffffff;
}

.content-data p {
    color: #aaaaaa;
}

.module-two-featured-product {
    padding: 80px 0px; /* top-bottom right-left */
}

.module-two-featured-product .module-heading {
    padding: 0px 0px 30px 0px; /* top right bottom left */
}

.module-two-featured-product .featured-product-content {
    text-align: center;
    margin-top: 20px;
}

.module-two-featured-product .featured-product-content p{
    margin-bottom: 0;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product img {
    width: 500px
}

.footer-info {
    background: #f1e9d9;
    padding: 60px 0;
}

.footer-info .footer-info-contents h4{
    margin-bottom: 1em;
}

footer {
    background-color: #1d1b17;
    padding: 30px 0px; /* top-bottom right-left */
    border-bottom: 5px solid #ae8235;
}

footer .footer-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 20px 0;
}

footer .footer-nav ul li {
    margin-right: 30px;
}

footer .footer-nav ul li a {
    color: #c4aa65;
    text-decoration: none;
    transition: color 0.1s ease-in;
}

footer .footer-nav ul li a:hover {
    color: #e6cc86;
}

footer .footer-address h4 {
    color: #e4ded2;
    margin-bottom: 1em;
}

footer .footer-address p {
    color: #a7a299;
}

.page-heading {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.breadcrumb {
    justify-content: center;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    font-size: 0.8em;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.3rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.3rem;
    color: #6c757d;
    content: "~";
}

/* About us */
.about .heading {
    margin: 1em 0 30px;
}

.who-we-are {
    /* padding: 0 0 40px; */
}

.who-we-are .images img {
    width: 100%;
}

.who-we-are .content {
    margin-top: 40px;
}

.passion {
    padding: 0 0 40px;
}

.passion .heading h4 {
    font-size: 1.8em;
}

.about .content .col h4 {
    color: black;
    margin-bottom: 15px;
}

/* Contact */

.contact .content p:nth-child(2) {    
    width: 50%;
    margin: 0 auto 60px;
    letter-spacing: 0.3px;
}

.contact-form {
    margin-bottom: 40px;
}

/* Flexi-Plan */

.flexi-plan {
    margin: 20px auto 50px auto; /* top right bottom left */
}

.flexi-plan .flexi-img img {
    width: 100%;
}

.flexi-plan .content .heading {
    font-size: 1.3em;
    color: #f31171;
    margin-bottom: 20px;
}

.flexi-plan .content .instalment {
    color: #109a1c;
    margin-bottom: 20px;
}

/* media */
.Bhartiya-media .media-content img {
    width: 100%;
    margin-bottom: 20px;
}

.Bhartiya-media .media-content h4 {
    color: #af2d58;
}

.Bhartiya-media .media-content:last-child {
    margin-bottom: 20px;
}

.gallery .heading p {
    width: 50%;
    margin: 0 auto;
}

.gallery-contents {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-thankyou{
    display: none;
}

#contact-thankyou{
    display: none;
}

#aboutJewel{

    margin-top:40px;

}

.gallery-contents .images {
    margin-top: 60px;
}

.gallery-contents .images .item {
    margin-bottom: 30px;
}

.gallery-contents .images .item .contents a{
    display: flex;
    justify-content: center;
}

.gallery-contents .images .item .contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    cursor: pointer;
    height: 400px;
    justify-content: center;
}

.gallery-contents .images .item .img-content {
    text-align: center;
}

.gallery-contents .images .item .contents:hover {
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}

.gallery-contents .images img{
    width: 70%;
}

.btn-Bhartiya-o {
    width: 100px;
    border: 1px solid #f7bc58;
}

.btn-Bhartiya-o.active {
    background: #f7bc58;
}

.gallery-item {
    display: none;
}

.gallery-item.show {
    display: block;
}




@media screen and (max-device-width: 1084px) and (orientation: portrait) {

     .featured {
    height: calc(100vh - 373px);
    background-size: cover;
    background-position: 0 -150px;
        /*background-position-x: calc(-157vw/2);*/
}

    .content-data-tab{
        padding: 0px 15px;

  }

  .novelties{
    padding: 0px;
}

.home-content{
        height: 600px;
    background-position: center;
}

}


  @media screen and (max-device-width: 768px) and (orientation: portrait) {

     .featured {
    height: calc(100vh - 373px);
    background-size: cover;
    background-position: 0 -150px;
        /*background-position-x: calc(-157vw/2);*/
}

    .content-data-tab{
        padding: 0px 15px;

  }

  .novelties{
    padding: 0px;
}

.home-content{
        height: 600px;
    background-position: center;
}

}

/* ----------- iPhone 6 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

    .featured {
    height: calc(100vh - 373px);
    background-size: cover;
    background-position: 0 -150px;
        background-position-x: calc(-102vw/2);
}

.novelties{
    padding: 0px;
}

.home-content{
        height: 600px;
    background-position: center;
}


  }

    /* Following Android targeting from:
        http://developer.android.com/guide/webapps/targeting.php
        http://pugetworks.com/2011/04/css-media-queries-for-targeting-different-mobile-devices/  */
        @media only screen and (-webkit-device-pixel-ratio:.75){
            /* Put CSS for low density (ldpi) Android layouts in here */
                  .featured {
    height: calc(100vh - 373px);
    background-size: cover;
    background-position: 0 -150px;
}

.novelties{
    padding: 0px;
}

.home-content{
        height: 600px;
    background-position: center;
}
        }
        @media  screen and (max-device-width: 415px) and (-webkit-device-pixel-ratio:1){
            /* Put CSS for medium density (mdpi) Android layouts in here */
                  .featured {
    height: calc(100vh - 373px);
    background-size: cover;
    background-position: 0 -150px;
}

.novelties{
    padding: 0px;
}

.home-content{
        height: 600px;
    background-position: center;
}
        }
        @media screen and (max-device-width: 415px) and (-webkit-device-pixel-ratio:1.5){
            /* Put CSS for high density (hdpi) Android layouts in here */
                  .featured {
    height: calc(100vh - 373px);
    background-size: cover;
    background-position: 0 -150px;
}

.novelties{
    padding: 0px;
}

.home-content{
        height: 600px;
    background-position: center;
}
        }

              @media  screen and (max-device-width: 415px)  and (-webkit-device-pixel-ratio:2.0){
            /* Put CSS for high density (hdpi) Android layouts in here */
                  .featured {
    height: calc(100vh - 373px);
    background-size: cover;
    background-position: 0 -150px;
       background-position-x: calc(-82vw/2);
}

.novelties{
    padding: 0px;
}

.home-content{
        height: 600px;
    background-position: center;
}
        }


  @media screen 
  and (max-device-width: 415px) 
  and (max-device-height: 750px) 
  and (orientation: portrait) {

      .featured {
    height: calc(100vh - 373px);
    background-size: cover;
    background-position: 0 -150px;
        background-position-x: calc(-82vw/2);
}

.novelties{
    padding: 0px;
}

.home-content{
        height: 600px;
    background-position: center;
}


  }


  @media screen 
  and (max-device-width: 415px) 
  and (min-device-height: 800px) 
  and (orientation: portrait) {

      .featured {
    height: calc(100vh - 373px);
    background-size: cover;
    background-position: 0 -150px;
        background-position-x: calc(-157vw/2);
}

.novelties{
    padding: 0px;
}

.home-content{
        height: 600px;
    background-position: center;
}


  }






@media screen and (max-device-width: 280px) and (orientation: portrait) {



     .featured {
    height: calc(100vh - 373px);
    background-size: cover;
    background-position: 0 -280px;
        background-position-x: -900px;
}


}

  


